.progress {
    margin-bottom: 0px; !important
}

.alert {
    display: none;
}

h4 {
    color: #808080;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0px 0px 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    color: white;
}

.overviews .inner-well {
    display: inline-block;
    margin: 10px; 
}

.overviews .overview-text {
    float: left;
}
    
.overviews .inner-well .overview-graph {
      float: left;
      height: 44px;
}
    
.overviews .inner-well .overview-title {
      margin-left: 60px;
      line-height: 20px;
      font-size: 14px;
}

.overviews .inner-well .overview-title2 {
      margin-left: 60px;
      font-size: 20px;
      line-height: 27px;
      font-weight: 600;
}
   
.overviews .inner-well .overview-content {
      font-size: 20px;
      line-height: 27px;
      font-weight: 600;
      float: left;
}

      
.overviews .inner-well .overview-number {
      float: right;
      margin-left: 15px;
      line-height: 52px;
      font-weight: 600;
      color: #81AF30;
      font-size: 52px;


}
    
.overviews .inner-well .red {
      color: #D95A41;
      font-size: 32px;
}
    
.overviews .inner-well .green {
      color: #81AF30;
      font-size: 32px;
}

.inner-well {
    text-align: left;
    color: rgb(128, 135, 140);
    background: none repeat scroll 0% 0% rgb(254, 254, 254);
    padding: 10px;
}

.footer {
    margin-top: 400px;
    border-top: 1px solid rgb(229, 229, 229);
    background: url("../static/img/bg_footer.png") repeat scroll 0% 0% rgb(34, 34, 34);
    padding: 30px 0px 0px;
    color: rgb(145, 145, 145);
}

.footer .copyright {
    border-bottom: 0px none;
    font-size: 0.8em;
    margin-bottom: 40px;
}

.footer ul {
    list-style: none outside none;
    margin: 0px;
    padding: 0px;
}

hr.half1 {
    height: 1px;
    margin: 40px 0px;
    background-image: -moz-linear-gradient(left center , rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    border: 0px none;
}

.center {
     float: none;
     margin-left: auto;
     margin-right: auto; 
}
