.progress {
    margin-bottom: 0px !important;
}

.alert {
    display: none;
}

h4 {
    color: #808080;
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0px 0px 10px;
    font-size: 13px;
    line-height: 20px;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    background-color: black;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 4px 4px 4px 4px;
    color: white;
}

.overviews .inner-well {
    display: inline-block;
    margin: 10px; 
}

.overviews .overview-text {
    float: left;
}
    
.overviews .inner-well .overview-graph {
      float: left;
      height: 44px;
}
    
.overviews .inner-well .overview-title {
      margin-left: 60px;
      line-height: 20px;
      font-size: 14px;
}

.overviews .inner-well .overview-title2 {
      margin-left: 60px;
      font-size: 20px;
      line-height: 27px;
      font-weight: 600;
}
   
.overviews .inner-well .overview-content {
      font-size: 20px;
      line-height: 27px;
      font-weight: 600;
      float: left;
}

      
.overviews .inner-well .overview-number {
      float: right;
      margin-left: 15px;
      line-height: 52px;
      font-weight: 600;
      color: #81AF30;
      font-size: 52px;
}
    
.overviews .inner-well .red {
      color: #D95A41;
      font-size: 32px;
}
    
.overviews .inner-well .green {
      color: #81AF30;
      font-size: 32px;
}

.inner-well {
    text-align: left;
    color: rgb(128, 135, 140);
    background: none repeat scroll 0% 0% rgb(254, 254, 254);
    padding: 10px;
}

.center {
     float: left;
     margin-left: auto;
     margin-right: auto; 
}

.tall {
    height: 150px;
}


.carousel {
    margin-top: -20px;
}


.carousel-caption {
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 15px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0);
}

.carousel-inner .carousel-caption h1.inverse {
    background: none repeat scroll 0% 0% rgba(0, 133, 200, 0.6);
}

.carousel-inner .carousel-caption h1 {
    display: inline-block;
    margin: 0px;
    padding: 16px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.6);
    line-height: 1em;
    color: rgb(243, 243, 243);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 50px;
    font-weight: 300;
    border-bottom: 1px solid rgb(0, 133, 200);
}

.carousel-inner .carousel-caption .lead {
    display: inline-block;
    margin: 0px;
    padding: 16px;
    background: none repeat scroll 0% 0% rgba(0, 0, 0, 0.8);
    line-height: 1.25;
    color: rgb(255, 255, 255);
    text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
    font-size: 18px;
    font-weight: 300;
    border-bottom: 1px solid rgb(0, 133, 200);
}

.carousel-inner {
    text-align: left;
    background: none repeat scroll 0% 0% rgba(0,0,0,0.8);
}


.fbox {
    margin: 0px !important;
    position: relative;
    text-align: center;
}

.fbox .fchart {
    width: 300px;
    height: 150px;
    background-color: #ffffff;
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: none;
}

.pie {
    width: 300px !important;
    height: 215px !important;
}

.fbox .fmap {
    width: 1024px;
    height: 500px;
    background-color: #ffffff;
    overflow: auto;
    padding: 10px 10px 10px 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    float: none;
}

.fbox .ftext {
    width: 100%;
    margin: 10px;
}

.fbox .ftext-number {
      float: left;
      margin-left: 15px;
      line-height: 72px;
      font-weight: 600;
      color: #81AF30;
      font-size: 72px;
}


.fbox .ftext-title {
      float: none;
      margin-left: 5px;
      line-height: 18px;
      font-size: 14px;
}

.fbox .ftext-title2 {
      float: none;
      margin-left: 5px;
      line-height: 44px;
      font-size: 36px;
      font-weight: 800;
    text-transform: uppercase;
}


path { 
	stroke: steelblue;
	stroke-width: 2;
	fill: none;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.bar {
  fill: steelblue;
}

.background {
  fill: none;
  pointer-events: all;
}

#states {
  fill: #aaa;
  stroke: #fff;
  stroke-width: 1.5px;
}

#states .active {
  fill: steelblue;
}

#loading {
    margin: 50px 0px 30px 0px;
    text-align: center;
    visibility: hidden;
}

div.tooltip {					/* set the CSS for tooltip divs */
  position: absolute;			/* reference for measurement */
  text-align: center;			/* align the text to the center */
  width: 100px;					/* set the width of the rectangle */
  height: 38px;					/* set the height of the rectangle */
  padding: 2px;					/* set a border around the rectangle */
  font: 12px sans-serif;		/* set the font type for the tooltips */
  background: lightsteelblue;	/* set the colour of the rectangle */
  border: 0px;					/* turn off the border (0px) */
  border-radius: 8px;			/* set how rounded the edges of the rectangle is */
  pointer-events: none;			/* 'none' tells the mouse to ignore the rectangle */
}


section.stats {
    text-align: center;
}
section.stats h3 {
    font-weight: 300;
    font-size: 50px;
    line-height: 55px;
}

section.stats h4 {
    font-weight: 300;
    font-size: 16px;
    line-height: 30px;
    margin: 0px 0px 20px;
}


html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
.wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by it's height */
  margin: 0 auto -60px;
}

/* Set the fixed height of the footer here */
.push,
.footer {
  height: 60px;
}
.footer {
  background-color: #f5f5f5;
}


.container .credit {
    margin: 20px 0px;
}

.muted {
    color: rgb(153, 153, 153);
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  .footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}
