<script id="home" type="text/html">
<div id="myCarousel" class="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="../static/img/3.jpg" alt="">

            <div class="carousel-caption">
                <h1 class="inverse"><strong>203</strong> usuários, <strong>42</strong> projetos em <strong>9</strong> linhas de pesquisa.</h1>
                 <p class="lead">Conheça a relação dos projetos que utilizam o <strong>GridUNESP</strong>.</p>
            </div>
        </div>

        <div class="item">
            <img src="../static/img/2.jpg" alt="">
            <div class="carousel-caption">
                <h1><strong>368</strong> hosts, <strong>2944</strong> cores and <strong>33 TeraFlops</strong></h1>
                 <p class="lead">utilize o poder computacional do <strong>GridUNESP</strong> para executar o seu expermimento.</p>
            </div>

        </div>
        <div class="item">
            <img src="../static/img/1.jpg" alt="">
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>

<div class="container">
    <div id="graph" class="simple-chart"></div>
</div>

<script language="javascript">
draw();
</script>

</script>
