<script id="home" type="text/html">
<div id="myCarousel" class="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="item active">
            <img src="../static/img/3.jpg" alt="">

            <div class="carousel-caption">
                <h1 class="inverse"><strong>203</strong> usuários, <strong>42</strong> projetos em <strong>9</strong> linhas de pesquisa.</h1>
                 <p class="lead">Conheça a relação dos projetos que utilizam o <strong>GridUNESP</strong>.</p>
            </div>
        </div>

        <div class="item">
            <img src="../static/img/2.jpg" alt="">
            <div class="carousel-caption">
                <h1><strong>368</strong> hosts, <strong>2944</strong> cores and <strong>33 TeraFlops</strong></h1>
                 <p class="lead">utilize o poder computacional do <strong>GridUNESP</strong> para executar o seu expermimento.</p>
            </div>

        </div>
        <div class="item">
            <img src="../static/img/1.jpg" alt="">
        </div>
    </div>
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>


<section class="container stats">
               <h3>Our last stats</h3>
               <h4>* updates can be delayed by 30 minutes.</h4>
</section>

<div class="container">
        <div class="fbox center span3">
            <div class="fchart center" id="chart01"></div>
            <div class="ftext center">
                <div class="ftext-number">5252</div>
                <div class="ftext-title">running</div>
                <div class="ftext-title2">jobs</div>
                <p>in the <strong>last hour</strong>, this the amount of jobs running in our cluster. <a href="">Read more</a></p>
            </div>
        </div>

        <div class="fbox center span3">
            <div class="fchart center" id="chart02"></div>
            <div class="ftext center">
                <div class="ftext-number">5252</div>
                <div class="ftext-title">running</div>
                <div class="ftext-title2">jobs</div>
                <p>in the <strong>last hour</strong>, this the amount of jobs running in our cluster. <a href="">Read more</a></p>
            </div>
        </div>

        <div class="fbox center span3">
            <div class="fchart center" id="chart03"></div>
            <div class="ftext center">
                <div class="ftext-number">5252</div>
                <div class="ftext-title">running</div>
                <div class="ftext-title2">jobs</div>
                <p>in the <strong>last hour</strong>, this the amount of jobs running in our cluster. <a href="">Read more</a></p>
            </div>
        </div>
</div>

</div>


<script language="javascript">
draw();
</script>

</script>
