<script id="job" type="text/html">
<div class="container">
      <h1>Job Detail</h1>
      <hr>
      <div class="span8">
        <table class="table table-condensed">
            <tr>
                <th scope="row" width="15%">Job ID</th>
                <td>{{id}} <span class="label label-success">{{status_name}}</span></td>
            </tr>
            <tr>
                <th scope="row">Name</th>
                <td>{{name}}</td>
            </tr>
            <tr>
                <th scope="row">App Name</th>
                <td>{{app_name}}</td>
            </tr>
            <tr>
                <th scope="row">Executable</th>
                <td>{{executable}} {{args}}</td>
            </tr>
            <tr>
                <th scope="row">Progress</th>
                <td>{{progress}}%</td>
            </tr>
            <tr>
                <th scope="row">Return Code</th>
                <td>{{return_code}}</td>
            </tr>
            <tr>
                <th scope="row">Priority</th>
                <td>{{priority}}</td>
            </tr>

            <tr>
                <th scope="row">Created at</th>
                <td>{{create_time}}</td>
            </tr>
            <tr>
                <th scope="row">Modified at</th>
                <td>{{modification_time}}</td>
            </tr>
        </table>
      </div>

      <div class="span3">
            <a href="#" class="btn btn-warning btn-large  btn-block">
                <strong style="display: block;"><i class="icon-minus-sign icon-white"></i> Cancel</strong>
                <small>abort the execution of this job!</small>
            </a>
            <a href="#" class="btn btn-danger btn-large  btn-block">
                <strong style="display: block;"><i class="icon-remove icon-white"></i> Remove</strong>
                <small>remove permanently this job!</small>
            </a>
            <div class="text-center">
            - or -
            </div>
            <a href="#jobs" class="btn btn-large  btn-block">
                <strong style="display: block;"><i class="icon-chevron-left"></i> Return to jobs list</strong>
            </a>
      </div>

      <div class="overviews span11">
        <h4>Job Requirements</h4><hr>
            <div class="inner-well">
              <div class="overview-content">
                <div class="overview-graph">
                    <img src="../static/img/hosts.png">
                  </div>
                <div class="overview-title">Number of</div>
                <div class="overview-title2">Hosts</div>
              </div>
              <div class="overview-number">{{hosts}}</div>
          </div>

            <div class="inner-well">
              <div class="overview-content">
                <div class="overview-graph">
                    <img src="../static/img/cores.png">
                  </div>
                <div class="overview-title">Cores</div>
                <div class="overview-title2">per Host</div>
              </div>
              <div class="overview-number">{{cores_per_host}}</div>
          </div>

           <div class="inner-well">
              <div class="overview-content">
                <div class="overview-graph">
                    <img src="../static/img/ram.png">
                  </div>
                <div class="overview-title">Required</div>
                <div class="overview-title2">Memory</div>
              </div>
              <div class="overview-number">{{memory}}</div>
           </div>

           <div class="inner-well">
              <div class="overview-content">
                <div class="overview-graph">
                    <img src="../static/img/disk.png">
                  </div>
                <div class="overview-title">Space in</div>
                <div class="overview-title2">Disk</div>
              </div>
              <div class="overview-number">{{diskspace}}</div>
           </div>
      </div>

<div class="span11">
    <h4>Input Objects</h4><hr>
    <table class="table table-condensed">
    <thead>
    <tr>
        <th>Obj ID</th>
        <th>Name</th>
        <th>Size</th>
    </tr>
    {{#input_objs}}
    <tr>
        <td><a href="#object-{{id}}" onclick="return get_object({{id}});">{{id}}</a></td>
        <td><a href="#object-{{id}}" onclick="return get_object({{id}});">{{name}}</a></td>
        <td>{{size}}</td>
    </thead>
    {{/input_objs}}
    </table>
</div>        

<div class="span11">
    <h4>Output Objects</h4><hr>
    <table class="table table-condensed">
    <thead>
    <tr>
        <th>Obj ID</th>
        <th>Name</th>
        <th>Size</th>
    </tr>
    {{#output_objs}}
    <tr>
        <td><a href="#object-{{id}}" onclick="return get_object({{id}});">{{id}}</a></td>
        <td><a href="#object-{{id}}" onclick="return get_object({{id}});">{{name}}</a></td>
        <td>{{size}}</td>
    </thead>
    {{/output_objs}}
    </table>
</div> 

<div class="span11">
    <h4>Check Point Objects</h4><hr>
    <table class="table table-condensed">
    <thead>
    <tr>
        <th>Obj ID</th>
        <th>Name</th>
        <th>Size</th>
    </tr>
    {{#checkpoint_objs}}
    <tr>
        <td><a href="#object-{{id}}" onclick="return get_object({{id}});">{{id}}</a></td>
        <td><a href="#object-{{id}}" onclick="return get_object({{id}});">{{name}}</a></td>
        <td>{{size}}</td>
    </thead>
    {{/checkpoint_objs}}
    </table>
</div> 

<div class="span11">
        <h4>Last output:</h4>
<pre>
{{progress_string}}
</pre>
</div>
      </div>
</div>
</script>
