<script id="job_submit" type="text/html">
      <h1>Submit a new job</h1>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>

      <form action="javascript:post_job(this.form);" class="form-horizontal">

         <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
                <input type="text" id="name" name="name" placeholder="Name">
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="inputApp">Application</label>
            <div class="controls">
                <input type="text" id="app" name="app" placeholder="Application">
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="inputExecutable">Executable</label>
            <div class="controls">
                <input type="text" id="executable" name="executable" placeholder="Executable">
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="inputArgs">Arguments</label>
            <div class="controls">
                <input type="text" id="args" placeholder="Arguments">
            </div>
         </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit Job</button>
            <button type="button" class="btn" onclick="view_jobs_list();">Cancel</button>
        </div>
        </form>
</script>
