<script id="jobs_list" type="text/html">
      <h1>My Current Jobs</h1>
      <p>Use this document as a way to quick start any new project.<br> All you get is this message and a barebones HTML document.</p>


        <table class="table table-bordered table-condensed">
        <thead>
            <tr>
                <th width="5%">ID</th>
                <th width="20%">Job Name</th>
                <th width="10%">Status</th>
                <th width="30%">Progress</th>
                <th width="15%">Create Time</th>
                <th width="15%">Modification Time</th>
                <th width="5%">Action</th>
            </tr>
        </thead>
        <tbody>
            {{#jobs}}
            <tr>
                <td>{{id}}</td>
                <td>{{name}}</td>
                <td><span class="label label-success">{{status_name}}</span></td>
                <td>
                    <div class="progress">
                        <div class="bar" style="width: {{progress}}%;"></div>
                    </div>
                </td>
                <td>{{create_time}}</td>
                <td>{{modification_time}}</td>
                <td>
                    <div class="btn-group">
                        <button class="btn btn-mini btn-info">Cancel</button>
                        <button class="btn btn-mini btn-danger">Remove</button>
                        </ul>
                    </div>
                </td>
            </tr>
            {{/jobs}}
            <!--
            <span class="label label-important">Error</span>
            <span class="label label-info">Pending</span>
              -->
        </tbody>
        </table>

    <div class="pagination">
    <ul>
    <li><a href="#">Prev</a></li>
    <li><a href="#">1</a></li>
    <li><a href="#">2</a></li>
    <li><a href="#">3</a></li>
    <li><a href="#">4</a></li>
    <li><a href="#">5</a></li>
    <li><a href="#">Next</a></li>
    </ul>
    </div>
</script>
