<script id="stats" type="text/html">
      <h1>Stats!</h1>
       <div class="overviews">
            <div class="inner-well">
              <div class="overview-graph peity_line green"><span style="display: none;">
                5,3,9,6,5,9,7,3,5,8
                </span>
              </div>
              <div class="overview-title">Collective</div>
              <div class="overview-content">Income
                <span class="green">$1865</span>
              </div>
            </div>

            <div class="inner-well">
              <div class="overview-graph peity_line blue"><span style="display: none;">
                5,3,9,7,9,6,5,3,5,6
              </span></div>
              <div class="overview-title">New</div>
              <div class="overview-content">Members
                <span class="green">22</span>
              </div>
            </div>

            <div class="inner-well">
              <div class="overview-graph peity_line green"><span style="display: none;">
                6,5,6,7,5,6,7
              </span></canvas></div>
              <div class="overview-title">Support</div>
              <div class="overview-content">Requests
                <span class="green">12</span>
              </div>
            </div>

            <div class="inner-well">
              <div class="overview-graph peity_line red"><span style="display: none;">
                6,5,6,7,5,4,2
              </span></canvas></div>
              <div class="overview-title">Refund</div>
              <div class="overview-content">Requests
                <span class="red">1</span>
              </div>
            </div>
        </div>
</script>
