<script id="submit" type="text/html">
<div class="container">
    <h1>Submit a new job</h1>
        <p>Plese read the <a href="#">User Guide</a>, before submit a job.</p>
        <p>If you are having problems to submit a job, <a href="#">contact us</a>, or read <a href="#">our FAQ</a></p>
    <hr>

    <div class="row">
      <div class="span7">
      <h4>1. Please, choose an application</h4><hr>
      <form id="submit_form" onsubmit="return create_job();" class="form-horizontal">

         <div class="control-group" id="input_group_application">
            <label class="control-label" for="apps_select">Application</label>
            <div class="controls">
                <select id="apps_select" name="application">
                    <option value=""></option>
                </select>
            </div>
       </div>

<h4>2. Fill all required fields</h4><hr>
<div class="accordion">
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle">Required</a>
    </div>
    <div class="accordion-body collapse in">
      <div class="accordion-inner">
        Required fields...
        <div id="application_required"></div>
      </div>
    </div>
  </div>
<br>
<h4>3. Theses fields are optional</h4><hr>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle">Optional</a>
    </div>
    <div class="accordion-body collapse">
      <div class="accordion-inner">
          <div id="application_optional"></div>
      </div>
    </div>
  </div>
  <div class="accordion-group">
    <div class="accordion-heading">
      <a class="accordion-toggle">Constant</a>
    </div>
    <div class="accordion-body collapse">
      <div class="accordion-inner">
        <div id="application_constant"></div>
      </div>
    </div>
  </div>
</div>

<div id="application_options">
</div> <!-- end of application_options -->

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit Job</button>
            <button type="button" class="btn" onclick="href('#jobs');">Cancel</button>
        </div>
        </form>
        </div>

        <div class="span4">
        <h4>Description about your application</h4>
            <p id="application_description"></p>
            <p id="application_usage"></p>
        </div>
        </div>

<!-- firefox mimimi -->
<form enctype="multipart/form-data" method="post" name="fake_file_form" id="fake_file_form"></form>
<script language='javascript'>
    $("a.accordion-toggle").click(function () {
        $(this).closest(".accordion").find(".accordion-body").removeClass("in");
        $(this).closest(".accordion-group").find(".accordion-body").addClass("in");
        return false;
    });

    load_applications();
</script>
</div>
</script>
<script id="application_options_template" type="text/html">
         <div class="control-group" id="input_group_name">
            <label class="control-label" for="name">Name (name)</label>
            <div class="controls">
                <input type="text" id="name" name="name" placeholder="Name">
            </div>
         </div>

         </div>
         <div class="control-group" id="input_group_executable">
            <label class="control-label" for="executable">Executable (executable)</label>
            <div class="controls">
                <input type="text" id="executable" name="executable" placeholder="Executable">
            </div>
         </div>

         <div class="control-group" id="input_group_args">
            <label class="control-label" for="args">Arguments (args)</label>
            <div class="controls">
                <input type="text" id="args" name="args" placeholder="Arguments">
            </div>
        </div>

         <div class="control-group" id="input_group_inputs">
            <label class="control-label" for="inputs">Input files</label>
            <div class="controls" id="files_div">
                    <input type="text" id="inputs" name="inputs" placeholder="Input filenames">
                    <input name="files[]" onChange="form_add_file()" type="file" multiple>
            </div>
            <progress id="submit_upload_bar" min="0" max="100" value="0" hidden>0% complete</progress>
         </div>

         <div class="control-group" id="input_group_outputs">
            <label class="control-label" for="outputs">Output filenames (outputs)</label>
            <div class="controls">
                <input type="text" id="outputs" name="outputs" placeholder="Output filenames">
            </div>
         </div>

         <div class="control-group" id="input_group_checkpoints">
            <label class="control-label" for="checkpoints">Checkpoint filenames (checkpoints)</label>
            <div class="controls">
                <input type="text" id="checkpoints" name="checkpoints" placeholder="Checkpoints filenames">
            </div>
         </div>

         <div class="control-group" id="input_group_hosts">
            <label class="control-label" for="hosts">Number of hosts (hosts)</label>
            <div class="controls">
                <input type="number" id="hosts" name="hosts" placeholder="number of hosts">
            </div>
         </div>

         <div class="control-group" id="input_group_cores_per_host">
            <label class="control-label" for="cores_per_host">Number of cores per host (cores_per_host)</label>
            <div class="controls">
                <input type="number" id="cores_per_host" name="cores_per_host" placeholder="number of hosts">
            </div>
         </div>

         <div class="control-group" id="input_group_maxtime">
            <label class="control-label" for="maxtime">Max. execution time (maxtime)</label>
            <div class="controls">
                <input type="number" id="maxtime" name="maxtime" placeholder="Execution time (in seconds)">
            </div>
         </div>

         <div class="control-group" id="input_group_diskspace">
            <label class="control-label" for="diskspace">Max. disk space (diskspace)</label>
            <div class="controls">
                <input type="number" id="diskspace" name="diskspace" placeholder="Disk space (in MB)">
            </div>
         </div>

         <div class="control-group" id="input_group_memory">
            <label class="control-label" for="memory">Max. memory (memory)</label>
            <div class="controls">
                <input type="number" id="memory" name="memory" placeholder="Memory (in MB)">
            </div>
         </div>

         <div class="control-group" id="input_group_priority">
            <label class="control-label" for="priority">Priority (priority)</label>
            <div class="controls">
                <input type="number" id="priority" name="priority" placeholder="Priority" min="0" max="10" value="5">
            </div>
         </div>

         <div class="control-group" id="input_group_restart">
            <label class="control-label" for="restart">Restart on failue (restart)</label>
            <div class="controls">
                <input type="checkbox" id="restart" name="restart">
            </div>
         </div>
<script>
