<script id="submit" type="text/html">
<div class="container">
    <h1>Submit a new job</h1>

    <hr>

    <div class="row">
      <div class="span6">
      <form id="submit_form" onsubmit="return create_job();" class="form-horizontal">

         <div class="control-group">
            <label class="control-label" for="inputName">Name</label>
            <div class="controls">
                <input type="text" id="name" name="name" placeholder="Name" required>
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="inputApplication">Application</label>
            <div class="controls">
                <select id="apps_select" name="application">
                </select>
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="inputExecutable">Executable</label>
            <div class="controls">
                <input type="text" id="executable" name="executable" placeholder="Executable">
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="inputArgs">Arguments</label>
            <div class="controls">
                <input type="text" id="args" name="args" placeholder="Arguments">
            </div>
         <div class="control-group">
            <label class="control-label" for="inputMaxtime">Execution time (s)</label>
            <div class="controls">
                <input type="number" id="maxtime" name="maxtime" placeholder="Execution time (s)" required>
            </div>
         </div>
         <div class="control-group">
            <label class="control-label" for="inputFiles">Input files</label>
            <div class="controls" id="files_div">
                    <input name="files[]" onChange="form_add_file()" type="file" multiple>
            </div>
            <progress id="submit_upload_bar" min="0" max="100" value="0" hidden>0% complete</progress>
         </div>

        <div class="form-actions">
            <button type="submit" class="btn btn-primary">Submit Job</button>
            <button type="button" class="btn" onclick="href('#jobs');">Cancel</button>
        </div>
        </form>
        </div>

        <div class="span4">
        <h3>About job submition</h3>
        <p>Plese read the <a href="#">User Guide</a>, before submit a job.</p>
        <p>If you are having problems to submit a job, <a href="#">contact us</a>, or read <a href="#">our FAQ</a></p>
        </div>
        </div>

<!-- firefox mimimi -->
<form enctype="multipart/form-data" method="post" name="fake_file_form" id="fake_file_form"></form>
<script language='javascript'>
    load_applications();
</script>
</div>
</script>
