<script id="terms" type="text/html">
<h4>Política de Uso da Infraestrutura Computacional do Núcleo de Computação Científica da UNESP</h4>
<hr>
	<p>O processamento computacional é uma ferramenta que vem sendo cada vez mais utilizada por pesquisadores da Unesp no desenvolvimento de seus projetos científicos. Quando essa capacidade de processar e armazenar dados e difundir informação é utilizada de forma inadequada, ela pode gerar problemas de grandes proporções, afetando as operações e a segurança não apenas da instituição mas de toda a infraestrutura global de processamento em grid.</p>


	<p>É importante, então, estabelecer normas e procedimentos gerais de conduta para que a infraestrutura computacional seja utilizada de forma adequada. As mesmas regras de comportamento ético relativas à fraude, falsificação, plágio, assédio e difamação, previstas no código penal, se aplicam, também, ao uso dos recursos computacionais.</p>


	<p>A <strong>Política de Uso da Infraestrutura Computacional do Núcleo de Computação Científica da Unesp</strong> abrange todos os recursos computacionais voltados à pesquisa científica, em particular aqueles que constituem a estrutura do GridUNESP. Trata-se de um conjunto de regras que visam:</p>


	<ol>
	<li>Garantir um ambiente computacional amigável, produtivo e confiável;</li>
		<li>Manter um ambiente de apoio à colaboração global que permita a inovação e a livre troca de informação científica;</li>
		<li>Zelar pela reputação do Núcleo de Computação Científica (NCC) e proteger os seus sistemas de computação e os dados neles contidos contra ataques externos e uso não autorizado;</li>
		<li>Garantir a conformidade com todas as diretrizes legais.</li>
	</ol>


	<p>Todos os usuários devem procurar manter a segurança do ambiente de computação do NCC. A conta do usuário é de uso exclusivo, pessoal e não poderá ser compartilhada. Cabe ao usuário escolher senhas seguras e mantê-las em sigilo. Em particular, tentativas não autorizadas de acesso com o intuito de danificar, alterar, falsificar ou excluir dados, falsificar o endereço de e-mail ou causar interrupções de serviços estão proibidas.</p>


Os recursos computacionais do NCC devem ser utilizados única e exclusivamente para a execução de tarefas relacionadas a projetos científicos previamente cadastrados. É expressamente proibido o uso dos referidos recursos para:
	<ol>
	<li>Atividades ilegais de qualquer natureza;</li>
		<li>Atividades que ofendam ou resultem em constrangimento público de funcionários, usuários ou terceiros;</li>
		<li>Atividades que envolvam ganhos financeiros pessoais;</li>
		<li>Download, upload ou armazenamento de material com conteúdos sexuais ou ilegais;</li>
		<li>Execução de tarefas que utilizem quantidade de recursos incompatível com o compartilhamento da infraestrutura e que interfiram com o desempenho global do sistema;</li>
		<li>Execução de tarefas que resultem na violação de licença de aplicativos computacionais previamente instalados;</li>
		<li>Distribuição ou armazenamento de músicas, filmes, ou qualquer material protegido por copyright sem a devida licença.</li>
	</ol>


	<p>Questões sobre a adequação do uso dos recursos computacionais deverão ser comunicados diretamente à Direção Científica do Núcleo de Computação Científica.</p>


	<p>Os dados dos usuários não possuem cópias de segurança (backup) realizadas pela equipe do NCC, exceto quando autorizadas pela direção do NCC mediante solicitação formal do coordenador do projeto científico cadastrado. Os dados críticos devem ser salvos pelo usuário em sistemas independentes e de sua própria responsabilidade.</p>


	<p>Todo usuário é obrigado a comunicar imediatamente toda e qualquer suspeita de violação das regras de segurança, enviando e-mail para <strong>security (at) ncc.unesp.br</strong>. É vetada a divulgação de informações sobre incidentes de segurança sem a prévia autorização do NCC.</p>


	<p>O NCC zela pela privacidade de todos os funcionários, usuários e visitantes. Nenhuma consulta ou vistoria será feita nos arquivos sem autorização do próprio usuário e do Diretor Científico do NCC, salvo em situações que envolvam comprometimento da segurança dos sistemas.</p>


	<p>Todo usuário da infraestrutura computacional provida pelo Núcleo de Computação Científica da Unesp compromete-se a:</p>


	<ol>
	<li>Incluir em todos os artigos submetidos a revistas científicas, proceedings de conferências, teses, dissertações, etc., que façam uso dos recursos computacionais do !GridUNESP, o seguinte agradecimento:
	<ul>
	<li>“This research was supported in part by FINEP and FAPESP through the computational resources provided by the Center for Scientific Computing (NCC/GridUNESP) of the São Paulo State University (UNESP).”; ou,</li>
		<li>"Esta pesquisa tornou-se possível graças ao apoio da FINEP e FAPESP através dos recursos computacionais disponibilizados pelo Núcleo de Computação Científica (NCC/GridUNESP) da Universidade Estadual Paulista (UNESP)." ;</li>
	</ul>
	</li>
		<li>Encaminhar ao NCC cópia da publicação acima mencionada a qual deverá ser incluída na página do NCC e comporá o relatório anual de atividades do NCC.</li>
	</ol>
</script>
